In [3]:
import sqlite3
from sqlite3 import Error


# Step 1: Connect to the database
conn = sqlite3.connect('gec_database.db')  # Replace with your database file name

# Step 2: Create a cursor object
cursor = conn.cursor()

# Step 3: Execute the SELECT query
cursor.execute("SELECT * FROM gec_datapairs")  # Replace with your table name

# Step 4: Fetch all the rows
rows = cursor.fetchall()  # fetchall() retrieves all the rows in the result set

# Print the results
for row in rows:
    print(row)

# Step 5: Close the connection
#conn.close()

('ich sind B-AGE jahr alt', 'Ich bin B-AGE Jahre alt .')
('wir seid traurig', 'Wir sind auch ur ##iu ##ri .')
('ich bin drei jahr alt', 'Ich bin drei Jahre alt .')
('ic sind', 'ic sind')
('ich sind', 'Ich bin , ich bin .')
('ich sind B-AGE I-AGE ##he alt', 'Ich bin B-AGE I-AGE I-AGE alt .')
('ich sind fünf jahr alt', 'Ich bin fünf Jahre alt .')
('Ich sind zehn jahr alt', 'Ich bin B-AGE Jahre alt .')
('ich sind zehn jahr alt', 'Ich bin B-AGE Jahre alt .')
('ich sind zehn jahr alt', 'Ich bin B-AGE Jahre alt .')
('ich sind zehn jahr alt', 'Ich bin B-AGE Jahre alt .')

In [7]:
import pandas as pd

df = pd.read_sql("SELECT * FROM gec_datapairs",conn)
df

                             Data                       Correction
0         ich sind B-AGE jahr alt        Ich bin B-AGE Jahre alt .
1                wir seid traurig     Wir sind auch ur ##iu ##ri .
2           ich bin drei jahr alt         Ich bin drei Jahre alt .
3                         ic sind                          ic sind
4                        ich sind              Ich bin , ich bin .
5   ich sind B-AGE I-AGE ##he alt  Ich bin B-AGE I-AGE I-AGE alt .
6          ich sind fünf jahr alt         Ich bin fünf Jahre alt .
7          Ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .
8          ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .
9          ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .
10         ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .

In [5]:
df

                             Data                       Correction
0         ich sind B-AGE jahr alt        Ich bin B-AGE Jahre alt .
1                wir seid traurig     Wir sind auch ur ##iu ##ri .
2           ich bin drei jahr alt         Ich bin drei Jahre alt .
3                         ic sind                          ic sind
4                        ich sind              Ich bin , ich bin .
5   ich sind B-AGE I-AGE ##he alt  Ich bin B-AGE I-AGE I-AGE alt .
6          ich sind fünf jahr alt         Ich bin fünf Jahre alt .
7          Ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .
8          ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .
9          ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .
10         ich sind zehn jahr alt        Ich bin B-AGE Jahre alt .